<fieldset>
	<legend><%= t 'public_data.title' %></legend>

	<div class="form-group">
		<%= f.label :surname, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-8">
			<%= f.text_field :surname, placeholder: true, class: %i(form-control) %>
		</div>
		<div class="col-sm-2">
			<%= f.check_box :surname_private %>
			<%= f.label :surname_private %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :firstname, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-8">
			<%= f.text_field :firstname, placeholder: true, class: %i(form-control) %>
		</div>
		<div class="col-sm-2">
			<%= f.check_box :firstname_private %>
			<%= f.label :firstname_private %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :nickname, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-8">
			<%= f.text_field :nickname, placeholder: true, class: %i(form-control) %>
		</div>
		<div class="col-sm-2">
			<%= f.check_box :nickname_private %>
			<%= f.label :nickname_private %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :mastodon, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :mastodon, placeholder: '@you@your.instance', class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :twitter, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :twitter, placeholder: '@passageenseine', class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :personnal_site, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :personnal_site, placeholder: 'https://', class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :entity, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :entity, class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :entity_site, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :entity_site, placeholder: 'https://', class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :format, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.select :format, options_for_select(
				%i(conference workshop).collect { |n| [ t("format.#{n}"), n ] }, f.object.format), {}, class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :duration, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.select :duration, options_for_select(
				%i(30min 1h 2h).collect { |n| [ n ] }, f.object.duration), {}, class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :title, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :title, class: %i(form-control), required: true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :description, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_area :description, class: %i(form-control), required: true %>
			<span class="help-block"><%= t :description_help %></span>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend><%= t 'private_data.title' %></legend>

	<div class="form-group">
		<%= f.label :email, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.email_field :email, placeholder: 'foo@example.org', class: %i(form-control) %>
			<span class="help-block"><%= t :email_help %></span>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :phone, class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :phone, placeholder: '01 02 03 04 05', class: %i(form-control) %>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend><%= t :availability %></legend>
	<% @party.days.each do |day| %>
		<%= fields_for day.strftime('%F'), @proposal.available(day) do |f_d| %>
			<div class="form-group">
				<label class="col-sm-3 control-label">
					<%= t('date.day_names')[day.cwday] %> <%= day.day %>
					<%= f_d.check_box :available %>
				</label>
				<%= f_d.label :from, t(:from), class: %i(col-sm-1 control-label) %>
				<div class="col-sm-3">
					<%= f_d.select :from, options_for_select(Proposal.hours, f_d.object.from), {}, class: %i(form-control) %>
				</div>
				<%= f_d.label :to, t(:to), class: %i(col-sm-1 control-label) %>
				<div class="col-sm-3">
					<%= f_d.select :to, options_for_select(Proposal.hours, f_d.object.to), {}, class: %i(form-control) %>
				</div>
			</div>
		<% end %>
	<% end %>
</fieldset>
