<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<td></td>
						<th>Score</th>
						<th>Nom</th>
						<th>Titre</th>
					</tr>
				</thead>
				<tbody>
					<% @proposals.each do |p| %>
						<tr>
							<th>
								<%= link_to [:admin, p] do
									image_tag 'empty.png', alt: 'Afficher proposition', class: 'sprite-silk-date_go'
								end %>
								<%= link_to [:admin, p], method: :delete,
										data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette proposition ?' } do
									image_tag 'empty.png', title: 'Supprimer proposition', class: 'sprite-silk-date_delete'
								end %>
								<%= if @me.proposals.include? p
									link_to [:unmark, :admin, p] do
										image_tag 'empty.png', title: 'Supprimer proposition', class: 'sprite-silk-award_star_delete'
									end
								else
								   link_to [:mark, :admin, p] do
									  image_tag 'empty.png', title: 'Supprimer proposition', class: 'sprite-silk-award_star_add'
								   end
								end %>
							</th>
							<td><%= p.score %></td>
							<td><%= p.name %></td>
							<td>
								<p><strong><%= p.title %></strong></p>
								<%= p.description %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
