<fieldset>
	<legend>Informations publiques</legend>

	<div class="form-group">
		<%= f.label :surname, 'Nom', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-8">
			<%= f.text_field :surname, placeholder: 'Nom', class: %i(form-control) %>
		</div>
		<div class="col-sm-2">
			<%= f.check_box :surname_private %>
			<%= f.label :surname_private, 'Privé' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :firstname, 'Prénom', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-8">
			<%= f.text_field :firstname, placeholder: 'Prénom', class: %i(form-control) %>
		</div>
		<div class="col-sm-2">
			<%= f.check_box :firstname_private %>
			<%= f.label :firstname_private, 'Privé' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :nickname, 'Pseudo', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :nickname, placeholder: 'Pseudo', class: %i(form-control) %>
		</div>
	</div>
	<!-- div class="form-group">
		<%= f.label :avatar, 'Avatar', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.file_field :avatar, class: %i(form-control) %>
			<span class="help-block">
				Image de votre avatar ou une photo de vous.
				Taille minimum 64x64 pixels de préférence carré au format .jpg ou .png
			</span>
		</div>
	</div-->
	<div class="form-group">
		<%= f.label :twitter, 'Twitter', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :twitter, placeholder: '@ubuntuparty', class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :site, 'Site Internet', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :site, placeholder: 'https://', class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :format, 'Intervention', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.select :format, options_for_select([%w(Conférence conference), %w(Atelier workshop), %w(Démonstration exhibit)]), {}, class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= label_tag nil, 'Durée', class: %i(col-sm-2 control-label) %>
		<%= f.label :optimal_duration, 'souhaitée', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-2">
			<%= f.text_field :optimal_duration, placeholder: '1h', class: %i(form-control) %>
		</div>
		<%= f.label :minimal_duration, 'min', class: %i(col-sm-1 control-label) %>
		<div class="col-sm-2">
			<%= f.text_field :optimal_duration, placeholder: '30min', class: %i(form-control) %>
		</div>
		<%= f.label :maximal_duration, 'max', class: %i(col-sm-1 control-label) %>
		<div class="col-sm-2">
			<%= f.text_field :maximal_duration, placeholder: '2h', class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :title, 'Titre', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :title, class: %i(form-control) %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :description, 'Description', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_area :description, class: %i(form-control) %>
			<span class="help-block">
				Environs 500 signes espaces compris.
			</span>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>Informations privées</legend>

	<div class="form-group">
		<%= f.label :email, 'Email', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.email_field :email, placeholder: 'foo@example.org', class: %i(form-control) %>
			<span class="help-block">
				Il est très important de renseigner une
				adresse e-mail valide et non jetable,
				sans quoi nous ne pourrons pas prendre
				en compte cette participation.
			</span>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :phone, 'Téléphone', class: %i(col-sm-2 control-label) %>
		<div class="col-sm-10">
			<%= f.text_field :phone, placeholder: '01 02 03 04 05', class: %i(form-control) %>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>Disponibilités</legend>

	<div class="form-group">
		<label class="col-sm-3 control-label">
			Samedi
			<%= check_box_tag :saturday, nil, class: %i(form-control) %>
		</label>
		<%= label_tag :saturday_from, 'De', class: %i(col-sm-1 control-label) %>
		<div class="col-sm-3">
			<%= select_tag :saturday_from, options_for_select(Proposal.hours), class: %i(form-control) %>
		</div>
		<%= label_tag :saturday_to, 'À', class: %i(col-sm-1 control-label) %>
		<div class="col-sm-3">
			<%= select_tag :saturday_to, options_for_select(Proposal.hours), class: %i(form-control) %>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">
			Dimanche
			<%= check_box_tag :sunday, nil, class: %i(form-control) %>
		</label>
		<%= label_tag :sunday_from, 'De', class: %i(col-sm-1 control-label) %>
		<div class="col-sm-3">
			<%= select_tag :sunday_from, options_for_select(Proposal.hours), class: %i(form-control) %>
		</div>
		<%= label_tag :sunday_to, 'À', class: %i(col-sm-1 control-label) %>
		<div class="col-sm-3">
			<%= select_tag :sunday_to, options_for_select(Proposal.hours), class: %i(form-control) %>
		</div>
	</div>
</fieldset>
