<% title 'Éditer une conférence' %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info">
				<p>
					Merci de renseigner les informations ci-dessous.
					Il sera possible de corriger ces renseignements jusqu'au <%= l @party.proposal_to %>,
					date de l'impression des programmes papier.
				</p>
				<p>
					Pour la modification des informations, une URL vous sera envoyée par mail,
					<strong>utilisez donc une adresse mail valide.</strong>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 container">
			<div class="row">
				<div class="col-sm-12">
					<%= form_for @proposal, method: :patch, html: { class: %i(well form-horizontal) } do |f| %>
						<%= render 'form', f: f %>

						<div class="form-group">
							<div class="col-sm-2">
								<%= link_to 'Supprimer', proposal_path(@proposal), method: :delete, class: %i(btn btn-danger btn-lg), title: "Cliquer ici pour supprimer définitivement votre proposition" %>
							</div>
							<div class="col-sm-10">
								<%= f.submit 'Éditer', class: %i(btn btn-primary btn-lg pull-right) %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
