<% title t :call_for_paper %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1><%= t :call_for_paper %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info">
				<p><%= t :thanks_for_filling, date: l(@party.proposal_to) %></p>
				<p><%= raw t :mail_for_editing %></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 container">
			<div class="row">
				<div class="col-sm-12">
					<%= form_for @proposal, html: { class: %i(well form-horizontal) } do |f| %>
						<%= render 'form', f: f %>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<%= f.submit t(:submit), class: %i(btn btn-primary btn-lg pull-right) %>
							</div>
						</div>
				<% end %>
				</div>
			</div>
		</div>

		<div class="col-sm-4 container">
			<div class="row">
				<div class="col-sm-12">
					<% if @party.proposal_to >= Date.today
						  remaining_days = (@party.proposal_to.to_date - Date.today).to_i
						  duration_days = (@party.proposal_to.to_date - @party.proposal_from.to_date).to_i
						  percentage = 100 - remaining_days * 100 / duration_days
						  color = case percentage
									 when 0..75 then :success
									 when 75..90 then :warning
									 when 90..100 then :error
								  end
					%>
						<h2><%= t :close_in, days: number_to_human(remaining_days) %></h2>
						<div class="progress">
							<div class="progress-bar progress-bar-<%= color %> progress-bar-striped active" role="progressbar" style="width: <%= percentage %>%;">
								<span class="sr-only"><%= percentage %>%</span>
							</div>
						</div>
					<% else %>
						<h1><%= t :closed %></h1>
					<% end %>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body justify">
							<p>
								<strong><%= t 'personnal_data.title' %></strong>
							</p>
							<p><%= t 'personnal_data.content' %></p>
							<p class="success">
								<strong><%= t 'public_data.title' %></strong>
							</p>
							<p class="success">
								<%= t 'public_data.content' %>
							</p>
							<p class="warning">
								<strong><%= t 'private_data.title' %></strong>
							</p>
							<p class="warning">
								<%= t 'private_data.content' %>
							</p>
							<p class="danger">
								<strong><%= t 'name_surname.title' %></strong>
							</p>
							<p class="danger">
								<%= t 'name_surname.content' %>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
